a {
  text-decoration: none;
}

.main {
  background: #f8f8f8;
}

/* 作品一覧 */

.art-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 10vh 5vh;
}

.art-contents>.title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
}

.art-contents>.subtitle {
  font-size: 3vh;
  margin: 1vh;
  text-decoration: none;
  color: lightcoral;
  font-weight: bold;
}

.art-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.art-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
}


.art-img-content {
  position: relative;
}

.art-img {
  width: 33vh;
}

.art-name {
  color: black;
  font-size: 2vh;
  padding-top: 5px;
}

/* //作品一覧 */